[Desktop Entry]
Encoding=UTF-8
Name=TuxPusher & Friends
Comment=A fun coin pusher game featuring Tux & Friends!
StartupNotify=false
Exec=tuxpusheraf
Icon=${SNAP}/meta/gui/tuxpusheraf.png
Terminal=false
Type=Application
Categories=Game;ArcadeGame;KidsGame;Graphics